<nav class="navbar navbar-inverse" *ngIf="isAuthenticated()">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="#">Catalogue</a>-->
    </div>
    <ul class="nav navbar-nav">
      <li class="active" *ngIf="isAuthenticated()">
        <a class="nav-item navbar-link" routerLink="categories" >Home</a>
      </li>
      <li class="dropdown" *ngIf="isAuthenticated()">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngIf="isAdmin()"><a routerLink="/adminCategories">Gestion des Categories</a></li>
          <li *ngIf="isAuthenticated()"><a routerLink="/adminProducts">Gestion des Produits</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/adminUsers">Gestion des Utilisateurs</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav pull-right">
      <li routerLinkActive="active">
        <a *ngIf="!isAuthenticated()" routerLink="/login">Login</a>
        <!--<a *ngIf="!isAuthenticated()" routerLink="/register">Register</a>-->
        <a *ngIf="isAuthenticated()" routerLink="/login" class="btn" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="isAuthenticated()">
  <!--<p>Welcome {{currentUser.firstName}}</p>-->
  <app-categories></app-categories>

</div>




