<div class="container">
  <div class="col col-md-8">
      <div class="panel panel-primary">

        <div class="panel-heading style">AJOUT DE PRODUIT</div>
        <div class="panel-body">

          <form  [formGroup]="registerForm" (ngSubmit)="onSaveProduct()" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-4" >Name</label>
              <div class="col-md-8">
                <input type="text" formControlName="name" 
                  class="form-control"
                  [ngClass]=" {'is-invalid':submitted && f.name.errors}"
                  placeholder="Nom du Produit"
                  style="height: 50px;"
                  ngModel>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Le Nom du produit est obligatoire</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4" >Marque</label>
              <div class="col-md-8">
                <input type="text" formControlName="marque"
                       class="form-control" [ngClass]=" {'is-invalid':submitted && f.marque.errors}"
                       placeholder="Marque du produit"
                       style="height: 50px;"
                       ngModel>
                <div *ngIf="submitted && f.marque.errors" class="invalid-feedback">
                  <div *ngIf="f.marque.errors.required">La marque du produit est obligatoire</div>
                </div>
             </div>
            </div>

            <div class="form-group">
            <label class="control-label col-md-4" >Description</label>
            <div class="col-md-8">
              <textarea class="form-control" formControlName="description"
                        [ngClass]=" {'is-invalid':submitted && f.description.errors}" rows="4" ngModel>
                </textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">La description du produit est obligatoire</div>
              </div>

            </div>

          </div>

            <div class="form-group">
              <label class="control-label col-md-4" >Prix Unitaire</label>
              <div class="col-md-8">
                <input type="number" formControlName="price"  class="form-control"
                       [ngClass]=" {'is-invalid':submitted && f.price.errors}"
                       placeholder="Prix"
                       min="1"
                       style="width: 90px; height: 30px;"
                       maxlength="5"
                       ngModel>

                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors.required">La champ prix est obligatoire</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-4" >stock</label>
              <div class="col-md-8">
                <input type="number"
                min="1"
                  formControlName="quantity" 
                  class="form-control"
                  [ngClass]=" {'is-invalid':submitted && f.quantity.errors}"
                  placeholder="stock"
                  style="width: 70px; height: 30px;"
                  maxlength="2"
                  ngModel

                >

                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                  <div *ngIf="f.quantity.errors.required">La champ quantite est obligatoire</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <div *ngFor="let progressInfo of progressInfos" class="mb-2">
                  <span>{{ progressInfo.fileName }}</span>
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-info progress-bar-striped"
                      role="progressbar"
                      attr.aria-valuenow="{{ progressInfo.percentage }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      [ngStyle]="{ width: progressInfo.percentage + '%' }"
                    >
                      {{ progressInfo.percentage }}%
                    </div>
                  </div>
                </div>
                <div >
                  <label><span style="color: red; font-family: 'proxima-nova';"> Selectionnez les 4 photos du produit</span> </label>
                  <input type="file"
                  accept="image/*" multiple
                  (change)="selectFiles($event)"
                  formControlName="photo" 

                  class="form-control"
                  [ngClass]=" {'is-invalid':submitted && f.quantity.errors}"
                  ngModel

                  >
                </div>
                
                <div>
                  <div class="alert alert-light" role="alert">{{ message }}</div>
                </div>
               <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                  <div *ngIf="f.quantity.errors.required">La champ quantite est obligatoire</div>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="control-label col-md-4" >Category </label>
              <div class="col-md-8">
                <select class="form-control" formControlName="category" [ngClass]=" {'is-invalid':submitted && f.category.errors}" ngModel>
                  <option id="category" [ngValue]="category.name" *ngFor="let category of categories">{{category.name}}
                  </option>
                </select>

                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                  <div *ngIf="f.category.errors.required">La champ category est obligatoire</div>
                </div>
              </div>

            </div>

            <div class="form-group">

                  <button [disabled]="loading || !selectedFiles" class="btn butn-left">Enregistrer</button>
                  <button [disabled]="loading" class="btn butn-right">Annuler</button>
              
                <!--Champ Cachés HIDDEN-fields for product-->
                <!--<input type="hidden" name="id" value="{{currentProduct.id}}"/> {{currentProduct.id}}-->
                <!--<input name="code" type="hidden" value="{{currentProduct.code}}"/> {{currentProduct.code}}
                <input type="hidden" name="supplierId" value="{{currentProduct.supplierId}}"/> {{currentProduct.supplierId}}

                <input type="hidden" name="purchases" value="{{currentProduct.purchases}}"/> {{currentProduct.purchases}}
                <input type="hidden" name="views" value="{{currentProduct.views}}"/> {{currentProduct.views}}-->
            </div>
            
          </form>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-23">
      <div class="col-lg-22">
        <div class="card">
          <div class="card-header" style="padding: 10px 25px;">
            <span style="color:rgb(77, 170, 252); font-size: large;">Liste des photos du produit</span> 
          </div>
          <ul
            class="list-group list-group-flush"
            *ngFor="let retrievedImage of retrievedImages"
          >
            <li class="list-group-item">
              
              <img [src]="retrievedImage" alt="photo">
            </li>
          </ul>
        </div>
      </div>
        
    </div>
  </div>
  <br>
  <br>
  <br>
  <app-all-product></app-all-product>
</div>
<!-- <app-upload-photo></app-upload-photo> -->
<!--<app-categories></app-categories>-->





