<!---Liste de tous les produits-->
<div  class="col-xs-12 style">

  <table  #datatable class="table table-striped table-bordered table-sm row-border hover display"   datatable [dtOptions]="dtOptions" [dtTrigger] = "dtTrigger">
    <thead>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Description</th>
      <th>Prix</th>
      <th>Qté.Disponible</th>
      <th></th>
      </tr>
    </thead>
    <tbody>

    <ng-container *ngFor="let p of dataTableListeProducts$; let index = index">
      <tr *ngIf="dataTableListeProducts$">
        <td><img src="../assets/images/{{p?.photoUrl[0]}}.jpg"
                 id="image_samsung" alt="telephone_samsung" title="telephone_samsung" class="dataTableImg img img-responsive"></td>
        <td><span style="font-family: 'proxima-nova';">{{p?.name}}</span></td>
        <td><span></span>{{p?.description}}</td>
        <td>&euro; {{p?.price|number: '0.3'}}</td>
        <td>
            <div *ngIf="p.productStock < 1">
              <h6><span style="color: red" >Article indisponible en Stock!!</span></h6>
            </div>
            <div *ngIf="p.productStock >=1">

              <span style="color: green; font-size: 14px; text-align: center;">{{p?.productStock}}</span>
            </div>
          </td>
        <td >
          <div>
            <button class="btn btn-danger spacer" (click)="detailsProduct(p)"><span class="glyphicon glyphicon-remove"></span></button>&#160;
            <button class="btn btn-warning" (click)="addProductToCart(p)"><span class="glyphicon glyphicon-edit"></span></button>
          </div>
        </td>
  </tr>
    </ng-container>


    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Description</th>
      <th>Prix</th>
      <th>Qté.Disponible</th>
      <th></th>
    </tr>
    </tfoot>

  </table>

</div>
