

<div class="container">
  <div class="row">
    <a class="btn btn-link backward-btn" routerLink="/home">
      <span style="font-weight: bold; font-size: 22px;">< Acceuil</span>
    </a><br><br>
    
    <div class="col-lg-12">
      <span style="font-size: 30px; font-weight: bold;">Vous Recherchez</span>
      <div class="row">
        <div *ngIf="page?.empty=='false'; else empty">
          <div *ngFor="let p of page?.content" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../assets/images/{{p.photoUrl[0]}}.jpg" alt="{{p.photoUrl[0]}}"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <!--<a routerLink="/product-details">{{p.name}}</a>-->
                  
                  <a href='' style="color: rgb(0, 162, 255); cursor: pointer"  routerLink="/product-details/{{p.id}}">{{p.name}}</a>
                  
                </h4>
                <h5><strong><span style="color: red;">{{p.price | number: '0.2'}}&euro;</span></strong></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>

             <!--<button class="btn btn-primary spacer" (click)="detailsProduct(productInfo)"><span class="glyphicon glyphicon-eye-open">&nbsp;<strong>Voir les Details</strong></span></button>&#160;-->
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>

        </div>
        </div>
          <ng-template #empty>
  
            <br><h1 class="text-muted text-center alert alert-info">
              <span style="color: black;">Aucun résultat trouvé pour votre recherche  avec le mot clé "{{this.state}}"!</span> </h1>
        </ng-template>

      </div>
    </div>
  
    

  </div>

  <!--Affichage des details d'un produit p-->
 
  <!--<app-product-details [currentProduct]="currentProduct"></app-product-details>-->

</div>

 




