<div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div *ngFor="let product of page?.content" class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../assets/images/{{product.photoUrl}}.jpg" alt="{{product.photoUrl}}.jpg"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a style="cursor: pointer"  (click)="detailsProduct(product)">{{product.name}}</a>
                  </h4>
                  <h5>${{product.price}}</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>


                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
          </div>

        </div>

    </div>
    </div>

  </div>


<!--
  <div *ngIf="currentProduct && mode ==='detail-product' " >
    <app-product-details [currentProduct]="currentProduct"></app-product-details>
  </div>
   -->
