<div class="container spacer">
    <div class="col col-md-2">
      <ul *ngIf="currentProduct.photoUrl">
      <li *ngFor="let photo of currentProduct.photoUrl"
      class="list-group"
      >
      <img height="3%" class="card-img-top" src="../assets/images/{{photo}}.jpg" alt="alt-img"><br><br>
      </li>
      </ul>
    
    </div>

    <div class="col col-md-7">
        <div class="col-lg-11">
          <h1 align="center" class="display-4 mb-3">
          <strong>
          <span style="color: rgb(0, 162, 255);">{{currentProduct?.name}}</span>
          </strong>
          </h1>
          <div class="card mb-4">
            <ngb-carousel *ngIf="currentProduct.photoUrl">
                <ng-template ngbSlide>
                <div class="style">
                <img src="../assets/images/{{currentProduct.photoUrl[0]}}.jpg" class="card-img-top" height="100%" alt="Random first slide">
                </div>
                </ng-template>
                <ng-template ngbSlide>
                <div>
                <img src="../assets/images/{{currentProduct.photoUrl[1]}}.jpg" class="card-img-top" height="100%" alt="Random first slide">
                </div>
                </ng-template>
                <ng-template ngbSlide>
                <div >
                <img src="../assets/images/{{currentProduct.photoUrl[2]}}.jpg" class="card-img-top" height="100%" alt="Random third slide">
                </div>
                </ng-template>
                <ng-template ngbSlide>
                <div >
                <img src="../assets/images/{{currentProduct.photoUrl[3]}}.jpg" class="card-img-top" height="100%" alt="Random fourth lide">
                </div>
                </ng-template>
            </ngb-carousel>

            <div class="card-body">
                <h4 class="card-title ">
                <strong>
                <span style="color: rgb(0, 162, 255); text-align: center;">{{currentProduct?.name}}</span>
                </strong>
                </h4>
            </div>
            
          </div>
          <br><a routerLink="/home" class="btn-link float-left"> <span style="color: rgb(0, 174, 255); font-size: 14px; font-family: 'proxima-nova';">< RETOUR</span></a>
      </div>
    </div>

    <div class="row">
        <div class="col-md-23">
          <div class="col-lg-22">
              <br><br><br><br>
              <h1 align="center" class="display-4 mb-3">
                <strong>
                <span style="color: rgb(0, 162, 255);">{{currentProduct?.name}}</span>
                </strong>
              </h1>
              <h1 align="center">DESCRIPTION</h1>
              <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
              <form name="form" #form='ngForm' (ngSubmit)="currentProduct?.active == true && addCurrentProductToCart()">
              <div class="text-left">
              <input hidden name="id" [value]=currentProduct?.id>
              <p class="card-text"><strong><span style="font-family: proxima-nova; font-size: 16px;">{{currentProduct?.description}}</span> </strong></p>
              <p class="card-text">
              <span style="font-size: 16px;"><strong>Prix: </strong></span>
              <label id="price"><span style="color: red; font-size: 37px;">{{currentProduct?.price | number: '0.2'}}&euro;</span></label>
              </p>
              <p class="card-text"><strong><span style="color: rgb(78, 247, 78);font-size: 16px;">En stock</span> &nbsp;</strong></p>
              <label class="card-text">
              <strong>Quantité: </strong>
              <input [(ngModel)]=count
              (change)="validateCount()"
              type="number"
              name="count"
              style="width: 50px;"
              maxlength="2"
              required
              min="1"
              [max]=currentProduct?.productStock
              >
              </label>
              <p class="card-text"><span style="font-size: 16px;"><strong>Sous-total: </strong></span>
               
              <label id="subtotal"><span style="color: red; font-size: 37px;">{{currentProduct?.price | number: '0.2'}}&euro;</span></label>
              </p>
              </div>
              <button type="submit" [disabled]="!form.form.valid" *ngIf="currentProduct?.active && currentProduct.productStock >0 == true; else offBlock"
              class="btn"
              >
              <span class="glyphicon glyphicon-shopping-cart"></span>
              AJOUTER AU PANIER
              </button>
              <img src="../assets/images/cards.png">
              <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
              </form>
          </div>
        </div>
    </div>
</div>
