.btn {
    margin-top: 1.5em;
    padding: 55px, 90px;
    height: 55px;
    width: 275px;
    /*border-radius: 25px;*/
    cursor: pointer;
    font-size: 16px;
    font-family: 'proxima-nova';
    font-weight: lighter;
    color:white;
    background-color: rgb(2, 48, 59);

}

.btn-continueAchat {
    margin-top: 1.5em;
    padding: 25px, 45px;
    height: 20px;
    width: 170px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'proxima-nova';
    font-weight: lighter;
    color:white;
    background-color: rgb(2, 48, 59);

}

.btn:hover {
    padding: 10px, 30px;
    /*border-radius: 20px;*/
}

.style {
    background-color: black;
    margin-left: 1%;
}

.style span{
    margin-top: -150px;
    background-color: blue;
    
}
.test{
    margin-top: -19em;

}
.spacer {
    margin-top: 3.4em;
    margin-bottom: 5em;
}
.route-link {
    margin: 0.5em;
}
.qte {
    margin-top: -1.6em;
    margin-left: 4.7em;
}

.similar-product {
    position: relative;
    margin-top: 12em;
}

.goback {
    border-radius: 25px;
    padding: 1px 80px;
    padding-left: 5%;
    width: 7px;
    height: 30px;
    margin-top: -2em;
    background-color: purple;
    color: white;
    
}

.txt:hover {
    text-decoration: underline;
}

.text-ul{
    font-size: 15px;
}

.first-colonne{
   margin: 0;
}
@media screen and (max-width:600px) {
    .spacer {
        float: none;
    }
    .spacer .first-colonne{
        margin: 0;
        display: none;
    }
    .spacer .route-link{
        margin-top: -3em;
    }

    .spacer .row{
        margin-left: 15px;
        float: none;
        width: 100%;
        text-justify: auto;
        line-height: normal;
        text-align: center;
    }
}