.border-box{
  width: 750px;
  height: 40px;
  border: 1px;
  box-sizing: border-box;
  background-color: rgb(5, 80, 99);
  color: white;
  display: block;
  margin-left:15% ;
  margin-bottom: 1em;
  /*border-radius: 25px;*/
}
.spacer {
  margin-top: 1em;
  margin-bottom: 3em;
}
.btn {
  width: 100px;
  border-radius: 10.5px;
  font-size: 14px;
  
}

.rightpane{
    width: available;
    height: available;
    margin-top: -10px;
    margin-left: 90%;
    border-collapse: collapse;
}

.middle {
    width: 80%;
  }

.style {
    background-color:rgb(20, 211, 195);
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}


/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    /*height: 300px; Should be removed. Only for demonstration */
  }

  .right {
    width: 5%;
    
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }