          <header>
            <nav class="navbar navbar-expand-md navbar-dark topnav fixed-top">
              <div class="brand">
                <a class="navbar-brand" routerLink="/home">
                  <img src="../../../assets/images/brand2.jpg" alt="224-E-SHOP" width="80" height="80" class="d-inline-block align-top brand">
                  <span 
                    style="font-family: 'proxima-nova';
                        font-weight: bold; font-size: 26px; color: white;" >
                        98-DiscountPlace
                  </span>
                </a>    
              </div>
            
              <div class="search-container">
                <form  [formGroup]="searchForm" (ngSubmit)="searchProductByCriteria($event)" #f="ngForm">
                    <div class="form-group">
                      <input 
                          type="text" 
                          formControlName="criteria"
                          placeholder="Rechercher un produit..."
                                               
                          >
                      <button type="submit" class="btn btn-warm">
                        <i class="fa fa-search"
                          style="font-size: 18px; color: rgb(92, 91, 91);"></i>
                      </button>
                    </div>
                </form>
              </div> 
              <div class="div">
                <ul class="nav navbar-nav">
                  <li  *ngIf="isAuthenticated() && isAdmin() || isSeller()">
                    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
                        <ul class="navbar-nav mr-auto">
                          <li  class="nav-item dropdown" ngbDropdown>
                            <span
                              style="color: white; font-size: 20px; font-family: 'proxima-nova';
                                font-weight: bold;
                              "

                            class="nav-link dropdown-toggle" ngbDropdownToggle>Admin</span>
                            <div class="dropdown-menu items" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                              <div class="items">
                                <a class="dropdown-item" routerLink="/adminCategories">
                               
                                  <span  id="ADMIN_C" style="font-size: 16px; color: rgb(24, 23, 23);"> Gestion des categories</span>
                                </a>
                                <a class="dropdown-item"  routerLink="/adminProducts"> 
                                  
                                  <span id="ADMIN_P" style=" font-size: 16px;  color: rgb(24, 23, 23);"> Gestion des produits</span>
                                </a>
                                <a class="dropdown-item"  routerLink="/adminUsers">
                                  <span id="ADMIN_U" style="font-size: 16px; color: rgb(24, 23, 23);"> Gestion des utilisateurs</span>
                                </a>
                              </div>
                           
                            </div>
                          
                          </li>
                          
                        </ul>
                    </div>
                  
                  </li>
                  
                  <li class="nav-item">
                    <a *ngIf="!currentUser || currentUser.user.role == Role.Customer" class="nav-item nav-link" routerLink="/cart">
                      <i class="fa fa-shopping-cart">
                        <span *ngIf="nbProductInCart > 0" class="pcount">{{nbProductInCart}}</span>
                        
                      </i>
                    
                      &nbsp;<span style="color: white;">PANIER</span> &nbsp;
                                     
                    </a>
                    
                  </li>
    
                  <li class="nav-item">
                    <a *ngIf="isAuthenticated() && currentUser.user.role == Role.Customer" class="nav-link" routerLink="/order">
                      <i class="fas fa-list-ul"></i>
                      <span style="font-size: 12px;
                      font-family: 'proxima-nova';
                      ">
                      MES COMMANDES
                    </span>
                    
                    </a>
    
                  </li>
    
                </ul>
              </div>
           
              
                <ul class="nav navbar-nav navbar-right">
                  <li routerLinkActive="active">
                    <i class="ti-user"></i>
                    <a *ngIf="!isAuthenticated()" routerLink="/login">
                        <span style="color:white">
                       SE CONNECTER
                        </span><br>
                          
                      </a>
                    <a *ngIf="isAuthenticated()" routerLink="/login" (click)="logOut()">
                      <span 
                      class="glyphicon glyphicon-user"></span>
                      <span style="font-size: 14px; font-family: 'Arial, sans-serif';">
                        se déconnecter 
                      </span><br>
                      <span style="font-size: 12px;
                         text-decoration: none;
                         overflow: hidden;
                         font-family: 'Arial, sans-serif';
                         ">{{currentUser.user.firstName}}&nbsp;{{currentUser.user.lastName}}</span>
                    </a>
                  </li>
                </ul>
              <hr>
            </nav> 
          </header>
         
     