<div class="border-box">
  <h3 align="center" class="display-4 mb-4">Mes commandes </h3>
</div>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">N°cmd #</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Adresse Livraisson</th>
        <th scope="col">Total</th>
        <th scope="col">Date Commande</th>
        <th scope="col">Status Commande</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let order of page?.content">
        <td class="align-middle">{{order?.numOrder}}</td>
        <td class="align-middle">{{order?.buyerName}}</td>
        <td class="align-middle">{{order?.buyerEmail}}</td>
        <td class="align-middle">{{order?.buyerPhone}}</td>
        <td class="align-middle">{{order?.buyerAddress}}</td>
        <td class="align-middle"><span style="color: red;">{{order?.orderAmount | number: '0.2'}}&euro;</span></td>
        <td class="align-middle">{{order?.createTime | date : 'short'}}</td>
        <td class="align-middle">{{OrderStatus[order?.orderStatus]}}</td>
        <td class="align-middle">
          <a *ngIf="!(currentUser.role == Role.Customer && currentUser.name == order.buyerEmail)"
          style="display:
       block" href="" routerLink="/order/{{order.id}}">
           Voir <span class="glyphicon glyphicon-eye-open" style="color: green;padding: 1.5em;"></span></a>
            <a *ngIf="order.orderStatus == 0" style="display: block" (click)="cancel(order)" routerLink="./">Annuler </a>
            <a *ngIf="currentUser.role != Role.Customer && order.orderStatus == 0"
               style="display: block"
               routerLink="/order/{{order?.id}}/shipping-address">
                Finaliser</a>
        </td>
    </tr>
    </tbody>
</table>


<!-- <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>infor de paiement</h5>
    <p><b>ID:</b>{{id}}</p>
    <p><b>Montant:</b>{{montant}}</p>
    <p><b>Description:</b>{{description}}</p>
    <p><b>prix:</b>{{prix /100}} $</p>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-success" (click)="confirmer(id)">confirmer</button>
    <button type="button" class="btn btn-danger" (click)="confirmer(id)">annuler</button>
  </div> -->


<!-- <app-pagination [currentPage]="page"></app-pagination> -->
