.border-box{
    /* width: 1150px;
    height: 40px; */
    border: 1px;
    box-sizing: border-box;
    background-color: rgb(5, 80, 99);
    color: white;
    /* display: block; */
    /* margin-left:15% ; */
    margin-bottom: 1em;

}

.data {
    font-family: 'proxima-nova';
    font-size: 14px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .flex-item-title {
    color: white;
    padding: 10px;
    flex: 100%;
    
  }
@media screen and (max-width: 800px) {
    .flex-item-title  {
    flex: 100%;
    }
   
  
  }