<h1 align="center" class="display-4 mb-5">Orders</h1>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Order #</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Customer phone</th>
        <th scope="col">Shipping Address</th>
        <th scope="col">Total</th>
        <th scope="col">Order Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let order of page?.content">
        <th class="align-middle" scope="row">
            {{order.orderStatus}}
        </th>
        <td class="align-middle">{{order.buyerName}}</td>
        <td class="align-middle">{{order.buyerEmail}}</td>
        <td class="align-middle">{{order.buyerPhone}}</td>
        <td class="align-middle">{{order.buyerAddress}}</td>
        <td class="align-middle">{{order.orderAmount | currency}}</td>
        <td class="align-middle">{{order.createTime | date}}</td>
        <td class="align-middle">{{OrderStatus[order.orderStatus]}}</td>
        <td class="align-middle">
            <a *ngIf="!(currentUser.role == Role.Customer && currentUser.name == order.buyerEmail)"
               style="display:
            block" href="" routerLink="/order/{{order.id}}">
                Show</a>
            <a *ngIf="order.orderStatus == 0" style="display: block" (click)="cancel(order)" routerLink="./">Cancel</a>
            <a *ngIf="currentUser.role != Role.Customer && order.orderStatus == 0"
               style="display: block"
               (click)="finish(order)"
               routerLink="./">
                Finish</a>
        </td>
    </tr>
    </tbody>
</table>


<!-- <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>infor de paiement</h5>
    <p><b>ID:</b>{{id}}</p>
    <p><b>Montant:</b>{{montant}}</p>
    <p><b>Description:</b>{{description}}</p>
    <p><b>prix:</b>{{prix /100}} $</p>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-success" (click)="confirmer(id)">confirmer</button>
    <button type="button" class="btn btn-danger" (click)="confirmer(id)">annuler</button>
  </div> -->


<!-- <app-pagination [currentPage]="page"></app-pagination> -->
