.border-box{
    width: 750px;
    height: 40px;
    border: 1px;
    box-sizing: border-box;
    background-color: rgb(20, 189, 245);
    color: white;
    display: block;
    margin-left:15% ;
    margin-bottom: 1em;

}