.style {
    background-color:rgb(62, 108, 134);
    font-size: large;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.btn{
    padding: 10px 100px;
    border-radius: 25px;
    font-size: large;
    margin-left: 240px;
    background-color: rgb(69, 173, 199);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    
}

.btn:hover {
    background-color: rgb(31, 133, 218);
    color: rgb(238, 227, 227);
}
.reg {
    color: rgb(236, 228, 228);
    font-size: large;
    font-weight: bold;
}