.spacer {
    position: relative;
    margin-top:3.8em;
    display: inline-block;
    top: 4.5px;
    margin-left: auto;
}

.dimension {
    position: relative;
    margin-top:4.3em;
    margin-left: 14%;
    top: 4.5px;
}

.style {
    background-color:rgb(62, 108, 134);
    font-size: large;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.btn{
    padding: 10px 100px;
    border-radius: 25px;
    font-size: small;
    margin-left: 240px;
    background-color: rgb(5, 80, 99);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    
}

.btn:hover {
    background-color: rgba(24, 164, 189, 0.979);
    color: rgb(238, 227, 227);
}
.reg {
    color: rgb(236, 228, 228);
    font-size: large;
    font-weight: bold;
}