<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer votre payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>information de paiement.</p><br>
        <p><b>ID:</b>{{id}}</p>
        <p><b>Montant:</b>{{amount}}</p>
        <p><b>Description:</b>{{description}}</p>
        <p><b>price:</b>{{price /100}} €</p>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-success" (click)="confirmPayement(id)">confirmer</button>
        <button type="button" class="btn btn-danger" (click)="cancelPayment(id)" data-dismiss="modal">annuler</button>
      </div>
    </div>
  </div>
</div> 






