<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h1 align="center"><span style="color: #ee3434;
                font-weight: bold;
                font-size: 28px;
                font-family: 'proxima-nova';">Changement du mot de passe</span></h1><br><br>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]='passwordForm' (ngSubmit)="onSubmit()"> 
                        <label>E-mail</label>
                        <div class="form-group">
                             <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                              </span>
                            </div>
                            <input type="email"
                              formControlName="email"
                              class="form-control form-control-lg"
                              id="email"
                              name="email"
                              placeholder="example@mail.com"
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                              style="height:60px;"
                            >
                          </div>
                          <div  *ngIf="f.email.invalid && (f.email.dirty ||f.email.touched)" >
                              <div *ngIf="f.email.errors.required" class="alert alert-danger" >
                                  l'adresse mail est obligatoire.
                              </div>
                              <div *ngIf="f.email.errors.email" class="alert alert-danger">
                                  l'adresse mail est invalide.
                              </div> 
                              
                          </div>
                    
                        </div>
                    
                        <div class="form-group">
                            <label for="newPassword">Nouveau Mot de passe</label>
                            <div class="input-group">
                              <input 
                                [type]="fieldTextType ? 'text': 'password'"
                                class="form-control"
                                formControlName="newPassword"
                                
                                [ngClass]="{ 
                                  'is-invalid': submitted && f.newPassword.errors
                                }"
                                placeholder="Entrez votre nouveau mot de passe"
                                style="height:50px;"
                              />
                        
                             <div class="input-group-append">
                                <span class="input-group-text">
                                  <i 
                                    class="fa"
                                    [ngClass]="{
                                    'fa-eye-slash':!fieldTextType,
                                    'fa-eye':fieldTextType
                                    }"
                                  (click)="toggleFieldTextType()"
                                  ></i>
                                </span>
                             </div>
                             <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                              <div *ngIf="f.newPassword.errors.required">Le mot de passe est obligatoire</div>
                              <div *ngIf="f.newPassword.errors.minlength">Le mot de passe doit avoir 6 caractères minimum</div>
                            </div>
                            </div>
                        
                          
                          </div>
                      <div class="form-group">
                        <label for="confirmedPassword">Confirmer le mot de passe</label>
                        <div class="input-group">
                          
                          <input 
                            [type]="password"
                            formControlName="confirmedPassword"
                            class="form-control"
                            placeholder="Confirmez votre mot de passe"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmedPassword.errors }"
                            style="height:50px;"
                          />
                          <div *ngIf="submitted && f.confirmedPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmedPassword.errors.required">La confirmation de votre mot de passe est obligatoire</div>
                            <div *ngIf="f.confirmedPassword.errors.mustMatch">Les mots de passes doivent correspondre</div>
                          </div>
                        </div>
                    
                      </div>
                    
                  
                      <br><br>
                      <div class="wrapp-buttons">
                            <button [disabled]="is-invalid" class="btn btn-valider">Valider</button>
                            <button  [disabled]="!isFormValid" class="btn btn-cancel" type="reset" (click)="onReset()">Annuler</button>
                          
                      </div>
                      
                    </form>
                    <br>
                </div>

            </div>
        </div>

    </div>
  
</div>
<br>
<br>
<br>
