.btn {
    background-color: rgb(2, 48, 59);
    padding: 6px 21.5px;
    height: 55px;
    width: 260px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'proxima-nova';
    font-weight: lighter;
    color:white;
}

.btn a:hover {
    background-color: rgba(24, 164, 189, 0.979);
    color:rgb(54, 171, 207);
}

.title {
    color: rgb(54, 171, 207);
    font-size: 38px ;
    font-family: 'proxima-nova', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
