<hr>
  <div class="container spacer">
    <div class="border-box">
      <hr>
      <ul class="inline" *ngIf="categories">
        <li [ngClass]="currentCategory && currentCategory._links.self==c._links.self?'active':''"
            *ngFor="let c of categories"
            class="list-group"
           (click)="onGetProducts(c)">
           <!-- <span class="cursor"></span> -->
          <a>{{c.name}}</a>
        </li>
      </ul>
    </div>
    <hr>
    <div class="col-md-12">
      <router-outlet></router-outlet>
  </div>
  </div>
  

 
 


