<div class="container">
  <div class="col-md-2">
    <ul class="list-group" *ngIf="categories">
      <p><span style="text-transform: uppercase; color: rgb(0, 204, 255);"><strong>Categories</strong></span></p>
      <li [ngClass]="currentCategory && currentCategory._links.self==c._links.self?'active':''"
          *ngFor="let c of categories"
          class="list-group-item cursor"
         (click)="onGetProducts(c)">
        {{c.name}}
      </li>

    </ul>

  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
    <!--Afficahge de la liste des produits-->
    <!--<app-products></app-products>-->



</div>
