.new-adresse {
    border-radius: 15px;
    padding: 4px 89px;
    padding-left: 2%;
    width: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cancel-btn {
    border-radius: 15px;
    padding: 4px 89px;
    padding-left: 6%;
    width: 12px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: purple;
}