<mat-card class="example-card">
  <button type="button" class="close" aria-label="Close"
(click)="onCloseBtnClick()"
>
  <span aria-hidden="true">&times;</span>
</button>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Veuillez renseigner une nouvelle adresse</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="newAdressForm" (ngSubmit)="onSaveNewAddress()">
      <div class="form-group">
          <input 
              type="text"
              style="height:50px;"
              formControlName="nom"
              placeholder="Nom*"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"
          />
          <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
            <div *ngIf="f.nom.errors.required">Le nom est obligatoire</div>
          </div>
      </div>
      <div class="form-group">
        <input 
            type="text"
            style="height:50px;"
            formControlName="prenom"
            placeholder="Prénom*"
            [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"
            class="form-control"
        />
        <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
          <div *ngIf="f.prenom.errors.required">Le prénom est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <input 
              type="text"
              style="height:50px;"
              width="7px"
              size="5"
              formControlName="numero"
              placeholder="NumRue*"
              [ngClass]="{ 'is-invalid': submitted && f.numero.errors }"
              class="form-control"
            />
            <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
              <div *ngIf="f.numero.errors.required">Le numéro de rue est obligatoire</div>
            </div>
          </div>&nbsp;
          <input 
            type="text"
            style="height:50px;"
            formControlName="voie"
            placeholder="Nom de la voie*"
            [ngClass]="{ 'is-invalid': submitted && f.voie.errors }"
            class="form-control"
          />
          <div *ngIf="submitted && f.voie.errors" class="invalid-feedback">
            <div *ngIf="f.voie.errors.required">Le nom de la voie/rue est obligatoire</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <input 
              type="text"
              style="height:50px;"
              width="15px"
              size="10"
              formControlName="codepostal"
              placeholder="Code Postale*"
              [ngClass]="{ 'is-invalid': submitted && f.codepostal.errors }"
              class="form-control"
            />
            <div *ngIf="submitted && f.codepostal.errors" class="invalid-feedback">
              <div *ngIf="f.codepostal.errors.required">Le code Postal est obligatoire</div>
            </div>
          </div>&nbsp;
          <input 
            type="text"
            style="height:50px;"
            formControlName="ville"
            placeholder="Ville*"
            [ngClass]="{ 'is-invalid': submitted && f.ville.errors }"
            class="form-control"
          />
          <div *ngIf="submitted && f.ville.errors" class="invalid-feedback">
            <div *ngIf="f.ville.errors.required">La ville est obligatoire</div>
          </div>
        </div>
       
       
     
      </div>

      <div class="form-group">
        <input 
            type="text"
            style="height:50px;"
            formControlName="pays"
            placeholder="Pays/Region*"
            [ngClass]="{ 'is-invalid': submitted && f.pays.errors }"
            class="form-control"
        />
        <div *ngIf="submitted && f.pays.errors" class="invalid-feedback">
          <div *ngIf="f.pays.errors.required">Le pays ou la région est obligatoire</div>
        </div>

      </div>
      <div class="form-group">
        <input 
            type="text"
            style="height:50px;"
            formControlName="telephone"
            placeholder="numéro téléphone"
            ngModel
            class="form-control"
        />
        <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
          <div *ngIf="f.telephone.errors.required">Le téléphone est obligatoire</div>
        </div>

      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success new-adresse">Enregistrer</button> &nbsp;
        <button [disabled]="f.valid" class="btn cancel-btn" type="reset" (click)="onFormFieldRest()">Annuler</button><br>
      </div>
    </form>
  </mat-card-content>
</mat-card>

  <!--Recap Commande-->
  <!-- <h1 mat-dialog-title>Veuillez renseigner une nouvelle adresse</h1>
<div mat-dialog-content>
  <div class="right" *ngIf="isFormDisplayed">
    <div class="card mb-13">
      <div class="card-body">
          <h4 class="card-title ">
          <strong>
          <span style="color: red; text-align: center;">Veuillez entrer une nouvelle adresse</span>
          </strong>
          </h4>
         
      </div>
    </div> 
   
</div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Non merci</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Oui</button>
</div> -->

