.ref-company {
    margin-left: 2%;
}

.champ-application{
    margin-top: 5em;;
}

.champ-application p {
    font-size: 17px;
    text-emphasis: none;
    text-align: justify;

}

.territoire p {
    font-size: 17px;
    text-emphasis: none;
    text-align: justify;

}