<div class="ref-company">
    <h1><strong><span style="font-size: 50px; font-family: 'Times New Roman', Times, serif;">Conditions générales de vente</span> </strong></h1>
    <h4><span style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">
        SAS SODENKAMIN<br>
    
        04 ALLEE PAULINE ISABELLE UTILES,
        44200 NANTES <br>
        RCM NANTES 123456789<br>
        N° TVA intracommunautaire FR123456789<br>
        
        Tél 0266383403 <br>
        Mail : serviceclient@sodenkamin.com
    </span></h4>
    <div class="champ-application">
        <h1><strong><span style="font-size: 40px; font-family: 'Times New Roman', Times, serif;">Domaine d'application</span> </strong></h1>
        <p class="">
            Les présentes conditions générales de vente ont pour objet de régir les relations contractuelles entre la SAS SODENKAMIN et les clients passant commande sur son site <a>https://sodenkamin.herokuapp.com</a>.<br>

La vente des produits proposés par la SAS SODENKAMIN est réservée aux majeurs qui disposent de la pleine capacité juridique.<br>

Pour l’application des présentes conditions générales de vente, la qualité de consommateur répond aux définitions légales du code de la consommation.<br>

Indistinctement et de manière générale, toute personne passant commande sur le site de la SAS SODENKAMIN est qualifiée de « client ».<br>

Les présentes conditions générales de vente sont applicables à toute commande, ci-après qualifiée de « contrat », passée par le client auprès de la SAS SODENKAMIN.<br> 

La validation par le client de la vente constitue confirmation de commande et vaut acceptation des présentes conditions générales de vente.<br>

La SAS SODENKAMIN se réserve la possibilité de modifier à tout moment les présentes conditions générales de vente.<br>

Le client est ainsi invité à faire une lecture attentive des conditions générales de vente à chaque nouvelle commande effectuée.<br>

Les conditions générales de vente applicables sont celles en vigueur au jour de la passation de la commande.<br>

Elles sont accessibles à tout moment sur le site et prévalent sur toute autre version ou tout autre document contradictoire.

        </p>
      
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family: 'Times New Roman', Times, serif;">TERRITOIRE</span> </strong></h1>
        <p>
            Les ventes sont limitées à la France métropolitaine, Corse incluse et à Monaco.<br>

Il est toutefois possible de passer une commande vers un autre pays sous réserve toutefois de l’obtention préalable d’un devis spécifique.<br>

La société SAS SODENKAMIN  se réserve la possibilité de refuser une commande en l’hypothèse où les contraintes géographiques ne lui permettraient pas de procéder à la livraison du bien commandé, en raison par exemple du lieu de livraison souhaité (haute montagne …) et de la taille du bien commandé (colis hors norme …).<br>

Dans ce cas, elle en informe sans délai le client et procède au remboursement de sa commande dans un délai maximal de 30 jours.
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family:
         'Times New Roman', Times, serif;">
         PRODUITS ET DISPONIBILITES</span> </strong></h1>
        <p>
            Tous les produits vendus par SAS SODENKAMIN le sont dans la limite des stocks disponibles.<br>

En cas d'indisponibilité du produit commandé, SAS SODENKAMIN s’engage à en informer le client dans les plus brefs délais et à procéder au remboursement du produit, frais de port inclus, dans un délai maximal de 30 jours.
        </p>
    </div>
    <div class="territoire">
        <h1><strong>
            <span style="font-size: 40px;
             font-family: 'Times New Roman', Times, serif;">
             PRIX ET PAIEMENTS
            </span> </strong></h1>
        <p>
            Les prix sont indiqués en Euros TTC.<br>

            Ils ne tiennent pas compte des frais d’expédition qui sont facturés en sus, et qui sont indiqués au moment de la commande.<br>
            
            Les paiements peuvent être effectués par carte bancaire, par virement ou par chèque.<br>         
            Le prix est payable en totalité et en un seul versement au moment de la commande en cas de paiement par carte ou virement bancaire.<br>
            
            Les paiements par carte bancaire sur le site sont réalisés par le biais du système sécurisé stripe qui utilise le protocole SSL (Secure Socket Layer) de telle sorte que les informations transmises sont cryptées par un logiciel et qu’aucun tiers ne peut en prendre connaissance au cours du transport sur le réseau.
            
            Les données bancaires saisies font ainsi l’objet d'un traitement sécurisé et sont immédiatement cryptées par Stripe.<br>
            
            La société SAS SODENKAMIN ne voit jamais les données bancaires du client et ne peut y avoir accès par un quelconque moyen.
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px;
        font-family: 'Times New Roman', Times, serif;">
        PASSATION DES COMMANDES
    </span> </strong></h1>
        <p>
            La commande du ou des produits sélectionnés par le client sera réalisée selon le processus décrit ci-dessous.<br>

Le client sélectionne le ou les produits qu’il souhaite commander et l’ (les) ajoute à son panier virtuel.<br>

Il accède au contenu de son panier, comprenant l'ensemble des produits sélectionnés.<br>

Le client doit ensuite procéder à son identification.

Cette identification peut être réalisée directement après la sélection des produits ou par le biais du compte utilisateur du client.

L'ouverture d'un compte comprend la saisie des informations suivantes :<br>
            
                <li>une adresse de courrier électronique et le choix d'un mot de passe qui representent ses identifiants.</li>
                <li>son nom et prénom.</li>
                <li>son adresse</li>
     
Les identifiants du client lui sont personnels et doivent être tenus confidentiels.<br>

Une fois les produits sélectionnés et les données d'identification renseignées, le client procède ensuite au choix de son adresse de livraison puis au paiement.

Un récapitulatif de la commande est alors présenté au client, lequel reprend notamment les informations relatives aux produits, aux prix ou encore aux modalités et coût de livraison.

Une fois la commande validée, la validation définitive de la commande interviendra lorsque l'autorisation bancaire de débit aura été donnée à SAS SODENKAMIN  en cas de paiement en une seule échéance par carte bancaire, soit dans un délai maximal de dix jours ou, toujours en cas de paiement en une seule échéance, lorsque le virement aura été crédité ou le chèque bancaire encaissé.

En cas de paiement par chèque ou carte bancaire en trois fois, la validation définitive de la commande interviendra lors de la constatation du paiement effectif du premier terme.

Une confirmation définitive sera alors adressée au client, reprenant l'ensemble des éléments relatifs à la commande.<br>

La validation définitive de cette dernière interviendra cependant à compter de la réception et de la vérification du règlement.<br>

Seule la validation définitive de la commande engage donc contractuellement SAS SODENKAMIN .<br>
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family:
        'Times New Roman', Times, serif;">
        NOTIFICATION</span> </strong></h1>
        <p>
            Un mail de confirmation est alors envoyé à l'adresse du courriel du client qui reprendra toutes les informations rélatives à la commande et qui servira de preuves ou de facture au client.
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family:
        'Times New Roman', Times, serif;">
        MODE DE LIVRAISON</span> </strong></h1>
        <p>
            Les livraisons sont effectuées dans le délai et à l’adresse mentionnés au moment de la passation de la commande.

Le délai de livraison court à partir du lendemain de la validation définitive de la commande.

Conformément à article L216-1 du Code de la consommation, à défaut d'indication ou d'accord quant à la date de livraison ou d'exécution, la SAS SODENKAMIN  livre le bien sans retard injustifié et au plus tard trente jours après la conclusion du contrat.

Conformément à article L216-1 du Code de la consommation, en cas de manquement la SAS SODENKAMIN  à son obligation de livraison du bien à la date ou à l'expiration du délai prévus au premier alinéa de l'article L. 216-1 ou, à défaut, au plus tard trente jours après la conclusion du contrat, le client peut résoudre le contrat, par lettre recommandée avec demande d'avis de réception ou par un écrit sur un autre support durable, si, après avoir enjoint, selon les mêmes modalités, à la SAS SODENKAMIN  d'effectuer la livraison dans un délai supplémentaire raisonnable, cette dernière ne s'est pas exécutée dans ce délai.

Le contrat est considéré comme résolu à la réception par la SAS SODENKAMIN  de la lettre ou de l'écrit l'informant de cette résolution, à moins que la SAS SODENKAMIN  ne se soit exécutée entre-temps.

Le client peut immédiatement résoudre le contrat lorsque la SAS SODENKAMIN  refuse de livrer le bien ou lorsqu'elle n'exécute pas son obligation de livraison du bien à la date ou à l'expiration du délai prévu au premier alinéa de l'article L. 216-1 et que cette date ou ce délai constitue pour le client une condition essentielle du contrat.

Cette condition essentielle résulte des circonstances qui entourent la conclusion du contrat ou d'une demande expresse du client avant la conclusion du contrat.

Lorsque le contrat est résolu dans les conditions prévues à l'article L. 216-2, la SAS SODENKAMIN  rembourse le client de la totalité des sommes versées, au plus tard dans les quatorze jours suivant la date à laquelle le contrat a été dénoncé.
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family:
        'Times New Roman', Times, serif;">
        RECEPTION DU PRODUIT</span> </strong></h1>
        <p>
            Le client est informé qu’il lui appartient, à réception du produit commandé, d’en vérifier l’état général et de s’assurer qu’il est conforme à sa commande.

En cas de produit endommagé ou non conforme, le client doit en faire mention sur le bon de livraison et en avertir dans les plus brefs délais la SAS ID MARKET, par tout moyen à sa convenance.

Le produit doit ensuite être réexpédié dans son conditionnement d’origine, accompagné du bon de retour éventuellement communiqué.
Après réception du produit et vérification de sa défectuosité et ou de sa non-conformité, la SAS SODENKAMIN procédera, au choix du client, à une nouvelle livraison ou à une annulation de la commande.
En cas d’annulation de la commande, la société SAS SODENKAMIN procédera au remboursement du client dans les mêmes conditions qu’en cas de rétractation (voir infra) mais assumera en sus les frais de retour qui seront donc également remboursés au client sur justificatif.
        </p>
    </div>
</div>
<app-footer></app-footer>
