 <!--Recap Commande-->
 <div class="row">
  <div class="col-md-11">
    <div class="panel panel-default">
      <div class="panel-heading style">Récapitulatif</div>
      <div class="panel-body">
        <h5><strong>Prix:</strong> <span style="color: red;">{{(order$ | async)?.orderAmount| number: '0.2'}}&euro;</span> </h5><br>
        <h5><strong>Quantite:</strong> {{(order$ | async)?.products.length}}</h5><br><br>
        <h5><strong>Adresse de facturation:</strong><br>{{(order$ | async)?.buyerAddress}}</h5>
        <h5><strong>Adresse de Livraisson:</strong><br>{{(order$ | async)?.shippingAddress}}</h5>
        <hr>
        <h5><strong>Total: </strong> <span style="color: red; font-size: large; font-weight: bold;">{{(order$ | async)?.orderAmount| number: '0.2'}}&euro;</span></h5><br>
      </div>
  </div>
  <!-- <button (click)="checkout()" class="btn btn">FINALISER MA COMMANDE</button><br> -->
</div>

 </div>

