  <div  class="row">
    <div *ngIf="mode=='list'" class="col-xs-12">

      <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
             [dtTrigger] ="dtTrigger">
            <thead>
              <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Qty.Available</th>
                <th>Price</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of dataTableListeProducts$">
                <td><img src="../assets/images/{{p.photoUrl}}.jpg"
                         id="image_samsung" alt="telephone_samsung" title="telephone_samsung" class="dataTableImg"></td>
                <td>{{p.name}}</td>
                <td>{{p.description}}</td>
                <td>{{p.quantite}}</td>
                <td>&euro; {{p.price|number: '0.3'}}</td>
                <td>
                  <button class="btn btn-primary" (click)="detailsProduct(p)"><span class="glyphicon glyphicon-eye-open"></span>
                  </button>
                </td>
                <td>
                  <button class="btn btn-success" (click)="addProductToCart(p)"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                </td>

              </tr>

            </tbody>
            <tfoot>
                <tr>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Qty.Available</th>
                  <th>Price</th>

                </tr>
            </tfoot>

          </table>

    </div>

    <!--<div *ngIf="mode=='detail-Product'">
      <div class="panel panel-default">

          <div *ngIf="currentProduct" class="panel-heading">Details du Produit {{currentProduct.name}}</div>
            <div class="panel-body">

                <td><img src="../assets/images/{{currentProduct.photoUrl}}.jpg"
                         id="image_samsung" alt="telephone_samsung" title="telephone_samsung" class="dataTableImg"></td>
                {{currentProduct.name}}<br>
                {{currentProduct.description}}<br>
              &euro; {{currentProduct.price |number: '0.3'}}<br>
                {{currentProduct.quantite}}<br>

            </div>
          </div>

    </div>-->
    <!--Affichage des details du produits-->
    <div class="row" *ngIf="currentProduct">

      <!--Affichage de l'image du produit à gauche de l'ecran-->
      <div class="col-xs-12 col-sm-4">

        <div class="thumbnail">
          <img src="../assets/images/{{currentProduct.photoUrl}}.jpg"
               id="image_samsung" alt="telephone_samsung" title="telephone_samsung" class="dataTableImg">

        </div>

      </div>

      <!--Affichage des details du produits-->

      <div class="col-xs-12 col-sm-8">

        <h3>{{currentProduct.name}}</h3>
        <hr/>

        <p>{{currentProduct.description}}</p>
        <hr/>

        <h4>Price: <strong>&euro;  {{currentProduct.price |number: '0.3'}}</strong></h4>
        <hr/>

        <h6>Qty. Available: {{currentProduct.quantite}}</h6>
        <button class="btn btn-success" (click)="addProductToCart(currentProduct)"><span class="glyphicon glyphicon-shopping-cart"></span>Ajouter Au Panier</button>

        <button class="btn btn-primary" (click)="getAllProducts()"><span class="glyphicon glyphicon-backward"></span>Retour</button>

      </div>

    </div>


  </div>


  <!---Breadcrumb-->
  <!--
  <div class="row">

   <div class="col-xs-12">
     <ol class="beadcrumb">


     </ol>

   </div>

 </div>-->




