<div class="container style">
  <div  *ngIf="mode=='showAllProducts'">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let productInfo of products" class="col-lg-4 col-md-4">
          <div class="card h-100"  >
            <a  style="cursor: pointer;" (click)="detailsProduct(productInfo)"><img class="card-img-top" src="../assets/images/{{productInfo.photoUrl[0]}}.jpg" width="40%" height="40%" alt="{{productInfo.name}}"></a>
            <div class="card-body">
              <h4 class="card-title" align="text-center">
                <span style="color: rgb(0, 162, 255); font-family: 'proxima-nova';">{{productInfo.name}}<Strong></Strong></span>
              </h4>
                <span><strong style="font-size: 14px;">Prix: </strong></span>
                <span style="color: red; font-size: 22px;">{{productInfo.currentPrice | number: '0.2'}}&euro;</span>&nbsp;
                <span style="font-size: 15px;"><s>{{productInfo.price | number: '0.2'}}</s>&euro;</span>
          
                <p class="card-textt">Description: <span style="font-size: 14px; font-family: 'proxima-nova';">7
                  {{productInfo.description}}
                </span>
                </p><br>
              <div *ngIf="productInfo.productStock < 1">
                  <h6><span style="color: red" >Article indisponible en Stock!!</span></h6>
              </div>
              <div class="text-left" *ngIf="productInfo.productStock >=1">
                <p class="card-text"><strong><span style="color: rgb(78, 247, 78);font-size: 14px; font-family: 'proxima-nova';">Qté.Disponible en stock: </span> <span style="font-size: 14px;;"><strong>{{productInfo?.productStock}}</strong></span>&nbsp;</strong>
            
              </div>
              
              <!--<ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>-->
            </div>
            
              <button class="btn" (click)="detailsProduct(productInfo)">
                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                <strong>Voir Details</strong>
              </button>&#160;
            
            <div class="card-footer">
              <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
            </div>
          </div>
        </div>
      </div>
     

    </div>
    

  </div>

</div>

 <!--Affichage des details d'un produit p-->
 <!-- <div *ngIf="currentProduct && mode ==='detail-Product-P' " >
  <app-product-details [currentProduct]="currentProduct"></app-product-details>
   <app-similar-product [similarProducts]="similarProductsList"></app-similar-product>
</div>-->
<app-footer></app-footer>






