
.dataTableImg {
  width: 100px;
  height: 100px;
}

.bootomSpacer {
  margin-top: 20em;
  padding: .1em 0;
}

.btn {
  background-color: rgb(2, 48, 59);
  margin-top: 2.2em;
  margin-left: 11%;
  padding: 30px, 50.5px;
  height: 55px;
  width: 260px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'proxima-nova';
  font-weight: lighter;
  color:white
  
}

.btn {
  margin-top: 1.5em;
  padding: 55px, 62.5px;
 
  /*border-radius: 25px;*/
  cursor: pointer;

  color:white;
 

}

.style {
  font-size: 14px;
  font-family: 'proxima-nova';
}