<div class="container">
  <div class="col-md-9">
    <span style="color: green; font-family: 'Raleway';
      font-size: 35px;">
      Paiement sécurisé de votre commande.
    </span><br><br>
    <h4>L'adresse de ce site préfixée avec https indique que vous êtes sur un site securisé, et que vous pouvez reglé votre achat en toute tranquilité.</h4>
    <div class="card">
      <div class="card-title">
       <span style="font-family: 'Raleway';
           font-size: 20px; padding: 250px;
           font-weight: bold;">Choix de votre mode de paiement </span> 
      </div>
      <div class="card-body">
        <mat-card>
          <input type="radio" id="{{paymentModes.bankCard.id}}" [(ngModel)]="paymentModes.bankCard.checked" value ="{{paymentModes.bankCard.value}}" (click)="isBankCardOptionSelected()">&nbsp;
          <span><img src="../assets/images/all-cards.svg"></span> &nbsp;
          <span style="font-size: 14px;"><strong>Par Carte Bancaire</strong></span>
        </mat-card> <br>
          <div *ngIf="paimentMode=='carteBancaire'">
              <app-payment-card-form></app-payment-card-form>
              
          </div><br><br>
          <mat-card>
            <input disabled="true" type="radio" id="{{paymentModes.paypal.id}}" [(ngModel)]="paymentModes.paypal.checked" value ="{{paymentModes.paypal.value}}" (click)="isPaypalOptionSelected()">&nbsp;
            <span><img src="../assets/images/paypal-logo.svg"></span>&nbsp;
            <span style="font-size: 14px;"><strong>Paypal</strong></span><br><br>
            <p style="font-size: 13px;">&nbsp;En choisissant ce mode de paiement, vous allez être redirigé vers le serveur sécurisé de Paypal et accéder à votre compte Paypal. Votre commande sera enregistrée lorsque vous aurez validé votre paiement sur le site Paypal.</p><br><br>

            <button disabled="true" type="submit" class="btn btn-outline-success">
              Effectuer votre paiement avec PayPal
            </button>
          </mat-card><br>
          <mat-card>
            <input disabled="true"  type="radio" id="{{paymentModes.orangeMoney.id}}" [(ngModel)]="paymentModes.orangeMoney.checked" value ="{{paymentModes.orangeMoney.value}}" (click)="isOrangeMoneyOptionSelected()">
            <span><img src="../assets/images/orange-money-logo.svg"></span>&nbsp;
            <span style="font-size: 14px;"><strong>Par Orange Money</strong></span> &nbsp;
          </mat-card><br>
          <mat-card>
            <input disabled="true"  type="radio" id="{{paymentModes.cash.id}}" [(ngModel)]="paymentModes.cash.checked" value ="{{paymentModes.cash.value}}" (click)="isCashMoneyOptionSelected()">&nbsp;
            <span style="font-size: 14px;"><strong>Par Espèces</strong></span> &nbsp;
          </mat-card>
      </div>

    </div>


  </div>
  <div class="recap">
   <app-order-recap [order]="order"></app-order-recap>
    
  </div>
 

</div>
<app-footer></app-footer>