<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading style">Gestion des Catégories</div>
    <div class="panel-body">
      <div>
        <button class="btn btn-success" (click)="onNewCategory()">
        <span class="glyphicon glyphicon-plus">AJOUTER UNE CATEGORY
        </span>
        </button>
      </div>

      <!---Ajout d'une category-->
      <div *ngIf="mode=='new-category'" class="col-md-6">
        <form #f="ngForm" (ngSubmit)="onSaveCat(f.value)">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" name="name" ngModel class="form-control">
          </div>
          <!-- Buton d'ajout d'une nouvelle category-->
          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </div>
      <!-- cas d'une edition(modification/Update d'une)category deja existante en base-->
      <div *ngIf="mode=='edit-category'" class="col-md-6">
        <form #f="ngForm" (ngSubmit)="onUpdateCat(f.value)">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" name="name" ngModel class="form-control"
                   [(ngModel)]="currentCategory.name">
          </div>
          <!-- Buton d'ajout d'une nouvelle category-->
          <button class="btn btn-success" type="submit">Enregistrer</button>
        </form>
      </div>
      <!--  On affiche ce div(bloc/partie) la que si mode = liste-->
      <div *ngIf="mode=='list'">
        <table class="table" *ngIf="categories">
          <tr>
            <th>Name</th>
          </tr>
          <tr *ngFor="let c of categories">
            <td><span style="font-family: 'Raleway'; font-size: 18px;">{{c.name}}</span></td>
            <!-- Button de supression d'une category-->
            <td>
              <button class="btn btn-danger" (click)="onDeleteCategory(c)">
                
            <span >
              
              <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
              <i class="fas fa-trash-alt"></i>
              </span>
              </button>
            </td>
            <!--Button d'edition -->
            <td>
              <button class="btn btn-primary" (click)="onEditCategory(c)">
            <span>
              <i class="fas fa-edit"></i>
              </span>
              </button>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>


