.send-button {
    padding: 10px 15px;
    border-radius: 50px;
    background-color: rgb(23, 0, 128);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.send-button:hover {
    padding: 10px 25px;
    background-color: purple;
    color: white;
    cursor: pointer;
}

.btn-cancel {
    padding: 10px 15px;
    border-radius: 50px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 500px;
    display: inline-flex;
}

.wrapp-buttons{
    display: inline-flex;
    vertical-align: middle;
}

@media screen and (max-width:600px) {
    .container {
        float: none;
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .container .wrapp-buttons{
        float: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    } 

    .container .wrapp-buttons .send-button,.btn-cancel {
        margin: 0;
        margin-left: 25px;
        font-size: 20px;
        font-weight: bold;
        
    }

    .container .wrapp-buttons .btn-cancel span{
        float: none;
        margin-left: 100px;

    }
    
}