<div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h6 align="center"><span style="color: #ee3434;
          font-weight: bold;
          font-size: 48px;
          font-family: 'proxima-nova';">Changement de mot de password</span></h6><br><br>
  
        <div class="card">
          <div class="card-body">
            <h2>Saisisez votre adresse e-mail associé à votre compte GN-Loumo.</h2>
            <br>
            <p style="text-decoration: none; font-size: 14px;">Nous vous envérrons immédiatement par e-mail, toutes les informations nécessaires pour réinitilser votre mot de passe</p>
            <form [formGroup]='emailForm' (ngSubmit)="sendResetPassWordLink()"> 
              <!-- <label>E-mail</label> -->
              <div class="form-group">
                   <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input type="email"
                    formControlName="email"
                    class="form-control form-control-lg"
                    id="email"
                    name="email"
                    placeholder="example@mail.com"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    style="height:50px;"
                  >
                </div>
                <div  *ngIf="f.email.invalid && (f.email.dirty ||f.email.touched)" >
                    <div *ngIf="f.email.errors.required" class="alert alert-danger" >
                        l'adresse mail est obligatoire.
                    </div>
                    <div *ngIf="f.email.errors.email" class="alert alert-danger">
                        l'adresse mail est invalide.
                    </div> 
                    
                </div>
          
              </div>
            <br><br>
              <!--<button type="submit" class="btn btn-dfault">Login</button>-->
              <div class="form-group">
                <button [disabled]="isLoading" class="btn send-button"><strong>Envoyer</strong>
                  
                </button>
              </div>
            </form>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>