<div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h6 align="center"><span style="color: #ee3434;
          font-weight: bold;
          font-size: 48px;
          font-family: 'proxima-nova';">Changement de mot de password</span></h6><br><br>
  
        <div class="card">
          <div class="card-body">
            <div *ngIf="isUsernameUnKnown" class="alert alert-danger">
              <span style="font-size: 16px; padding: 10px;">auncun compte n'est associé à cette adresse e-mail</span>
            </div>
            <h2>Veuillez saisir l'adresse e-mail indiquée lors de votre inscription sur SodenKamin.fr.</h2>
            <br>
            <p style="text-decoration: none; font-size: 16px;">Un mail content un lien de réinitialisation de votre mot de passe vous sera envoyé sur cette même adresse.</p>
            <form [formGroup]='emailForm' (ngSubmit)="sendResetPassWordLink()"> 
              <!-- <label>E-mail</label> -->
              <div class="form-group">
                   <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input type="email"
                    formControlName="email"
                    class="form-control form-control-lg"
                    id="email"
                    name="email"
                    placeholder="example@mail.com"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    style="height:50px;"
                  >
                </div>
                <div  *ngIf="f.email.invalid && (f.email.dirty ||f.email.touched)" >
                    <div *ngIf="f.email.errors.required" class="alert alert-danger" >
                        l'adresse mail est obligatoire.
                    </div>
                    <div *ngIf="f.email.errors.email" class="alert alert-danger">
                        l'adresse mail est invalide.
                    </div> 
                    
                </div>
          
              </div>
            <br><br>
              <!--<button type="submit" class="btn btn-dfault">Login</button>-->
              <div class="form-group">
                <div class="wrapp-buttons">
                  <button class="btn send-button" [disabled]="isLoading">
                      
                      Envoyer
                          
                  </button>
                 
                  <!-- <button  class="btn btn-cancel" type="reset" (click)="onCancel()">
                      
                       <span>Annuler</span> 
                      
                  </button> -->
                  <a  class="btn btn-link float-left btn-cancel" routerLink="/home">
                    <span style="
                      color: white; font-size: 14px;
                      font-family: 'proxima-nova';
                      font-weight: bold;"
                      
                      >
                      Annuler
                    </span>
                  </a><br><br>
                </div>
              </div>
              
            </form>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>