label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.border-box{
    width: 355px;
    height: 130px;
    border: 1px solid rgb(188, 188, 194);
    box-sizing: border-box;
    background-color: rgb(249, 249, 253);

}

.style {
    background-color:rgb(20, 211, 195);
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}
