label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.border-box{
    width: 300px;
    height: 130px;
    border: 1px solid rgb(188, 188, 194);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
   /* background-color: rgb(249, 249, 253);*/
   max-width: 400px;
   background-color: lightgrey;


}

.flex-item-left {
    flex: 50%;
}
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (min-width: 600px) {
    .border-box, .flex-item-left {
        float: 100%;
        
        
    }
  }

.style {
    background-color: rgb(5, 80, 99);
    font-size: 20px;
    font-family: 'proxima-nova';
    font-weight: bold;
    color: white;
    text-align: center;
}

.nextbutton {
    background-color: rgb(23, 0, 128);
    border-radius: 25px;
    color: white;
    padding: 10px;
    width: 120px;
    font-family: 'proxima-nova';

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }

  .shipping-adress {
      margin-left: 10%;
  }
  
