
  <!--Adresse de Livraison-->
  <div class="container-fluid">
    <div class="shipping-adress  col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading style">Adresse de Livraison</div>
        <div class="panel-body">
            <h4>Indiquez une adresse de livraison</h4>
            <!-- <input type="radio" id="{{radio1.id}}" [(ngModel)]="radio1.checked" value ="{{radio1.value}}" disabled="{{radio1.isdisabled}}" (click)="homeAddresSelected()">&nbsp;
            <h5>à domicile</h5> -->
            <mat-radio-group [(ngModel)]="labelPosition">
              <mat-radio-button class="example-margin" value="à domicile">à domicile</mat-radio-button>
              <div class="border-box">
                <div class="flex-item-left">
                  <h4>Votre commande sera livré</h4><br>
                  <h4>à l'adresse suivante:</h4>
                  <h4>{{order?.shippingAddress}},</h4><br>
                  <h4>FRANCE</h4>
                </div>
               
              </div> <br><br><br>
              <mat-radio-button 
                  class="example-margin"
                  value="à une nouvelle adresse"
                  (click)="onNewShippingAddress()"
              >
                  à une nouvelle addresse
              </mat-radio-button>
              <!-- <input type="radio" id="{{radio2.id}}" [(ngModel)]="radio2.checked" value ="{{radio2.value}}" disabled="{{radio2.isdisabled}}" (click)="onNewShippingAddress()" >&nbsp;<span style="font-size: 12px; font-family: 'proxima-nova';"><strong>à une autre adresse </strong></span><br> -->
            </mat-radio-group>
           
  
  
          
               <!---Ajout d'une nouvelle addresse-->
          <!-- <div *ngIf="mode=='new-shipping-address'" class="col-md-9">
              <app-new-address [order]="order"></app-new-address>
          </div><br> -->
  
          <a routerLink="/order/{{order?.id}}/payment" class="btn-link float-right"> <span style="color: rgb(0, 174, 255); font-size: 15px; font-family: 'proxima-nova';">CONTINUER-></span></a>
  
        </div>
        
      </div>
  
    </div>
    <div class="col-md-3">
<!--Recap commande Compoent-->
    <app-order-recap [order]="order"></app-order-recap>
    </div>
  
      
  
  </div>

  

<app-footer></app-footer>
