
.container {
  margin-top: 1em;
}
.div{
  margin-top: 6em;
}

body {
  padding-top: 70px;

}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}
.wrapper {
  min-height: 100%;
  position: relative;
  width: 100%;
  max-width: 99%;
  margin: 0 auto;
}

.spinner{
  margin-left: 40%;
}
