  <div class="container">
    <div class="row">
          <div  *ngIf="mode=='list-Products'">
        <div class="col-md-13">

          <div>
            <h1><span style="color: #ff0000;">Bienvenue sur votre de boutique en ligne</span></h1>
            <ngb-carousel *ngIf="slides">
              <ng-template ngbSlide>
                <div>
                  <img [src]="slides[0]" width="100%" height="100%" alt="Random first slide">
                </div>
                <!-- <div class="carousel-caption">
                  <p> Angular 10 Carousel Example </p>
                </div> -->
              </ng-template>
              <ng-template ngbSlide>
                <div>
                  <img [src]="slides[1]" width="100%" height="100%" alt="Random second slide">
                </div>
                <!-- <div class="carousel-caption">
                  <p> Check out Techiediaries</p>
                </div> -->
              </ng-template>
              <ng-template ngbSlide>
                <div >
                  <img [src]="slides[2]" width="100%" height="100%" alt="Random third slide">
                </div>
                <!-- <div class="carousel-caption">
                  <p>for full tutorial...</p>
                </div> -->
              </ng-template>
              <ng-template ngbSlide>
                <div >
                  <img [src]="slides[3]" width="100%" height="100%" alt="Random fourth lide">
                </div>
                <!-- <div class="carousel-caption">
                  <p>for full tutorial...</p>
                </div> -->
              </ng-template>
              <ng-template ngbSlide>
                <div >
                  <img [src]="slides[4]" width="100%" height="100%" alt="Random fifth slide">
                </div>
                <!-- <div class="carousel-caption">
                  <p>for full tutorial...</p>
                </div> -->
              </ng-template>
              <ng-template ngbSlide>
                <div >
                  <img [src]="slides[5]" width="100%" height="100%"  alt="Random sixth slide">
                </div>
                <!-- <div class="carousel-caption">
                  <p>for full tutorial...</p>
                </div> -->
              </ng-template>
            </ngb-carousel>

          </div>
  

          <div class="row">
  
                <div *ngFor="let p of listProducts" class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="../assets/images/{{p.photoUrl}}.jpg" alt="{{p.photoUrl}}.jpg"></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <!--<a routerLink="/product-details">{{p.name}}</a>-->
                          <a style="color: rgb(0, 162, 255); cursor: pointer"  (click)="detailsProduct(p)">{{p.name}}</a>
                        </h4>
                        <strong><span style="color: red;">Prix: {{p.price | number: '0.2'}}&euro;</span></strong>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
  
                     <!--<button class="btn btn-primary spacer" (click)="detailsProduct(productInfo)"><span class="glyphicon glyphicon-eye-open">&nbsp;<strong>Voir les Details</strong></span></button>&#160;-->
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
  
                </div>
                
          </div>
        </div>

      </div>
    </div>


    <div *ngIf="currentProduct && mode ==='detail-product'" >
      <app-product-details [currentProduct]="currentProduct"></app-product-details>
    </div>

  </div>



  