.container {
    margin-top: 1em;
}

.data {
    font-family: Arial, Verdana,Helvetica, sans-serif;
    font-size: 16px;
}

.style {
    background-color: rgb(5, 80, 99);
    font-size: 20px;
    font-family: 'proxima-nova';
    font-weight: bold;
    color: white;
    text-align: center;
}

.btn-show-order{
    border-radius: 25px;
    padding: 7px 20px;

    margin-top: -1em;
    background-color: purple;
    color: white;
}
.achat-continuLink {
    margin: 0;
    margin-left: 10px;
}

@media screen and (max-width:600px) {
    .container {
        float: none;
        display: flex;
        flex-direction: column;
    }
    
    .container .achat-continuLink {
        display: block;
        margin-left: 16%;
        width: 100%;
        margin-bottom: 5px;
    }
    .container .btn-show-order {
        float: none;
        position: relative;
        margin:0;
        margin-left: 130px;
        margin-right: 70px;
        margin-bottom: 30px;
        margin-top: 2em;
        border-radius: 50px;
        width: 60%;
    }
}