.data {
    font-family: Arial, Verdana,Helvetica, sans-serif;
    font-size: 16px;
}

.style {
    background-color: rgb(5, 80, 99);
    font-size: 20px;
    font-family: 'proxima-nova';
    font-weight: bold;
    color: white;
    text-align: center;
}

.btn-show-order{
    border-radius: 25px;
    padding: 7px 20px;

    margin-top: -1em;
    background-color: purple;
    color: white;
}