<div class="container data">
    <div class="panel panel-primary">
        <div class="panel-heading style">
           Récapitulatif du paiement
        </div>
        <div class="panel panel-body">
             <h2>Bonjour <span>{{order?.buyerName}}</span>,</h2>
             
             <p><strong><span style="color: green; font-size: 25px;"><i class="fas fa-check"></i></span></strong> Votre paiement a été effectué avec succès sur notre site.
                vous recevrez un mail de confirmation à l'adresse  <span><b>{{order?.buyerEmail}}</b> avec plus d'informations.</span><br>
                Merci de votre confiance et à bientot.<br><br><br></p> 
            <hr>
            <div class="col col-md-8">
                <h2><b>Voici les détails de votre réglement:</b></h2><br>
                <p>Paiement reglé par carte bancaire</p>
                <h5><strong>Date de la commande:</strong> <span>{{order?.createTime | date : 'short'}}</span> </h5><br>
                <h5><strong>N° de la commande:</strong> <span>{{order?.numOrder}}</span> </h5><br>
                <h5><strong>Adresse de facturation:</strong><br>{{order?.buyerAddress}}</h5>
                <h5><strong>Adresse de Livraisson:</strong><br>{{order?.shippingAddress}}</h5>
                <h5><strong>Montant Total de la commande: </strong> <span style="color: red; font-size: large; font-weight: bold;">{{order?.orderAmount| number: '0.2'}}&euro;</span></h5>
            </div>
            
            <div class="row">
                
            </div>
            <h5>Livraison prévue entre <span style="color: green; font-size: large; font-weight: bold;"><br>
                le 16/03/2021 et le 22/03/2021</span></h5> à l'adresse 
                {{order?.shippingAddress}}
        </div>
        <a routerLink="/home" class="btn-link float-left"> <span style="color: rgb(0, 174, 255);">< CONTINUER MES ACHATS</span></a>
        <a  class="btn btn-link float-right btn-show-order" routerLink="/order">
            <span style="
              color: white; font-size: 15px;
              font-family: 'Raleway';
              font-weight: bold;"
              
              >
             < voir mes commandes
           </span>
          </a><br><br>
    </div>
    


</div>
