<div class="ref-company">
    <h1><strong><span style="font-size: 50px; font-family: 'Times New Roman', Times, serif;">
        Confidentialité et Cookies</span> 
    </strong></h1>
    <div class="champ-application">
        <h1><strong><span style="font-size: 
        40px; font-family: 'Times New Roman', Times, serif;">
        Nous vous promettons</span> </strong></h1>

        <p class="">
          Nous conserverons toujours vos données en toute sécurité. Maintenant que vous êtes au courant, voici pourquoi nous en avons besoin et comment nous les utilisons.
        </p>
      
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px;
        font-family: 'Times New Roman', Times, serif;">
        Bonne nouvelle</span> </strong></h1>
        <p>
            Vos informations personnelles nous servent seulement à améliorer votre expérience client.<br>
        </p>
    </div>
 
    <div class="territoire">
        <h1><strong>
            <span style="font-size: 40px;
             font-family: 'Times New Roman', Times, serif;">
             Top secret
            </span> </strong></h1>
        <p>
            Nous protègerons vos données comme si c’étaient les nôtres.<br>

        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px;
        font-family: 'Times New Roman', Times, serif;">
        Parlons peu, parlons bien
    </span> </strong></h1>
        <p>
            Nous nous efforçons de toujours communiquer avec vous, d’être à l’écoute, et de ne jamais vous faire de mauvaises surprises .<br>
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family:
        'Times New Roman', Times, serif;">
         Pas de spam</span> </strong></h1>
        <p>
            Vous décidez de ce que vous voulez recevoir de SAS SODENKAMIN et comment.
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family:
        'Times New Roman', Times, serif;">
        Infos essentielles</span> </strong></h1>
        <p>
            Vos informations ne vont pas trainer n’importe où – si nous ne nous en servons pas, nous les supprimons.
        </p>
    </div>
    <div class="territoire">
        <h1><strong><span style="font-size: 40px; font-family:
        'Times New Roman', Times, serif;">
        Protéger votre vie privée</span> </strong></h1>
        <p>
            Chez SODENKAMIN, nous nous engageons à protéger votre confidentialité et votre sécurité. Nous sommes nous-mêmes clients de SODENKAMIN ; nous apprécions et respectons donc totalement le respect de la vie privée.

            Pour tous les services SODENKAMIN, le contrôleur de données - la société chargée de la protection de votre vie privée - est sodenkamin.com Limited.
        </p>
    </div>
</div>
<app-footer></app-footer>
