  <hr class="spacer">
  <div class="spacer">
      <footer class="footer clearfix">
      <div class="wrapper">
        <div class="row clearfix">
          <div class="footer__column">
            <h3><strong>aide & information</strong></h3>
            <ul>
              <li><a href="#">Assistance</a></li>
              <li><a routerLink="/order">Suivie de commande</a></li>
              <li><a routerLink="/order">Livraison & Retours</a></li>
              <!-- <li><a href="#">Livraison Premiers</a></li> -->
              <li><a href="https://blog-s-h.herokuapp.com/" target="_blank">Blog</a></li>
              <!-- <li><a href="#">Jobs</a></li> -->
            </ul>
          </div>
        
          <div class="footer__column">
            <h3><strong>à propos de nous</strong></h3>
            <ul>
              <li><a href="#" class="">A propos de nous</a></li>
              <li><a href="#" class="WordPress_link"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
              <li><a href="#" class="facebook_link"><i class="fab fa-facebook-f"></i> Vente sur facebook</a></li>
              <li><a href="#" class="">SODENKAMIN recrute</a></li>
              <li><a href="#">Responsabilité des entreprises</a></li>
              <li><a href="#" class="">Nos investisseurs</a></li>
            </ul>
          </div>
      
          <div class="footer__column">
            <h3><strong>nous suivre sur</strong></h3>
            <ul>
              <li><a href="https://www.facebook.com/alphamamoudou.barry.50" class="facebook_link"><i class="fab fa-facebook"></i> Facebook</a></li>
              <li><a href="https://twitter.com/AlphaBa10691293" class="twitter_link"><i class="fab fa-twitter"></i> witter</a></li>
              <li><a routerLink="/home" class="google_plus_link"><i class="fab fa-google"></i> Google+</a></li>
              <li><a href="https://www.linkedin.com/in/alpha-barry-308a7762/" class="linkedin_link"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
            </ul>
          </div>
  
          <div class="footer__column">
            <h3><strong>extrait de notre blog</strong></h3>
            <article>
              <h1><a href="#">SodenKamin & brothers Top Strategie Marketing, Conseil en Vente </a></h1>
              <p>
                  Utiliser des remises et des coupons pour augmenter les ventes
                  Comment rédiger votre premier livre électronique en moins d'une semaine
                  Comment démarrer un magasin de vêtements en ligne ...
              </p>
            </article>
  
            <a href="https://blog-s-h.herokuapp.com/" class="read_more" target="_blank">lire la suite</a>
          </div>
        </div>
  
        <div class="footer__secondary clearfix">
          <ul>
            <li>SODENKAMIN&copy; 2021</li>
            <li>
                <img src="../../../assets/images/guinea.png" width="35px" height="35px" alt="224-E-SHOP" class="d-inline-block align-top brand">
            </li>
            <li>
                <img src="../../../assets/images/france-flag-icon.png" width="35px" height="35px" alt="224-E-SHOP" class="d-inline-block align-top brand">
            </li>
            <li>
              <img src="../../../assets/images/European-Union.svg" width="35px" height="35px" alt="224-E-SHOP" class="d-inline-block align-top brand">
            </li>
            <li><a href="#">Marque</a></li>
            <li><a href="#">Confidentialité</a></li>
            <li><a href="#">Conditions générales d'utilisation</a></li>
            <li>
              <img src="../../../assets/images/cards.png" alt="224-E-SHOP" class="d-inline-block align-top brand">
            </li>
          </ul>
        </div>
        <!--L'equipe-->
        <!-- <div class="footer__secondary clearfix ">
          <div class="team">
            <span>Notre equipe</span>
            <ul>
              
              <li>
                <a href="https://www.linkedin.com/in/alpha-barry-308a7762/"  target="_blank"><img src="../../../assets/images/mamdy.png" alt="224-E-SHOP"></a>
                  
              </li>
              <li>
                <a href="https://www.linkedin.com/in/thierno-sadou-sow-865967108/"  target="_blank"><img src="../../../assets/images/sow.png" alt="224-E-SHOP" ></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/saidou-diallo-928924a2/"  target="_blank" ><img src="../../../assets/images/diallo.png" ></a>
                
              </li>
              <li>
                <a href="https://www.linkedin.com/in/mamadou-dian-barry-676a34141/"  target="_blank">
                  <img src="../../../assets/images/dian.png"  alt="224-E-SHOP">
                </a>
                  
              </li>
              <li>
                <img src="../../../assets/images/mamdy2.png"  alt="224-E-SHOP">
                <a href="https://www.linkedin.com/in/alpha-barry-308a7762/"  target="_blank">Mamdy</a>
                
              </li>
            </ul>
          </div>
         
        </div> -->
      </div>
      <hr>
      <p class="m-0 text-center text-white py-5 bg-dark"><span style="font-size: 14px;">Copyright &copy;SODENKAMIN 2021</span> </p>
    </footer>
   
  </div>