  <hr class="spacer">
  <div class="spacer">
      <footer class="footer clearfix">
      <div class="wrapper">
        <div class="row clearfix">
          <div class="footer__column">
            <h3><strong>aide & information</strong></h3>
            <ul>
              <li><a href="#">Assistance</a></li>
              <li><a href="#">Suivie de commande</a></li>
              <li><a href="#">Livraison & Retours</a></li>
              <li><a href="#">Livraison Premiers</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Jobs</a></li>
            </ul>
          </div>
        
          <div class="footer__column">
            <h3><strong>à propos de nous</strong></h3>
            <ul>
              <li><a href="#" class="">A propos de nous</a></li>
              <li><a href="#" class="WordPress_link"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
              <li><a href="#" class="facebook_link"><i class="fab fa-facebook-f"></i> Vente sur facebook</a></li>
              <li><a href="#" class="">E-shop224 recrute</a></li>
              <li><a href="#">Responsabilité des entreprises</a></li>
              <li><a href="#" class="">Nos investisseurs</a></li>
            </ul>
          </div>
      
          <div class="footer__column">
            <h3><strong>nous suivre sur</strong></h3>
            <ul>
              <li><a href="#" class="facebook_link"><i class="fab fa-facebook"></i> Facebook</a></li>
              <li><a href="#" class="twitter_link"><i class="fab fa-twitter"></i> witter</a></li>
              <li><a href="#" class="google_plus_link"><i class="fab fa-google"></i> Google+</a></li>
              <li><a href="#" class="linkedin_link"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
            </ul>
          </div>
  
          <div class="footer__column">
            <h3><strong>extrait de notre blog</strong></h3>
            <article>
              <h1><a href="#">Mamdy's & 224 Top Strategie Marketing, Conseil en Vente </a></h1>
              <p>
                  Utiliser des remises et des coupons pour augmenter les ventes
                  Comment rédiger votre premier livre électronique en moins d'une semaine
                  Comment démarrer un magasin de vêtements en ligne ...
              </p>
            </article>
  
            <a href="https://blog-s-h.herokuapp.com/" class="read_more">lire la suite</a>
          </div>
        </div>
  
        <div class="footer__secondary clearfix">
          <ul>
            <li>E-224MarketPlace &copy; 2020</li>
            <li>
                <img src="../../../assets/images/guinea.png" width="35px" height="35px" alt="224-E-SHOP" class="d-inline-block align-top brand">
            </li>
            <li>
                <img src="../../../assets/images/france-flag-icon.png" width="35px" height="35px" alt="224-E-SHOP" class="d-inline-block align-top brand">
            </li>
            <li>
              <img src="../../../assets/images/European-Union.svg" width="35px" height="35px" alt="224-E-SHOP" class="d-inline-block align-top brand">
            </li>
            <li><a href="#">Marque</a></li>
            <li><a href="#">Confidentialité</a></li>
            <li><a href="#">Conditions générales d'utilisation</a></li>
            <li><a href="#">Presse</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="m-0 text-center text-white py-5 bg-dark">Copyright &copy; E-shop224 2021</p>
    </footer>
   
  </div>