<h1><span style="color: #ee3434; font-weight: bold; font-size: 48px;">Création de compte</span></h1><br><br>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label><b>Email</b></label>
    <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Entrer votre adresse email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
    <div  *ngIf="f.email.invalid && (f.email.dirty ||f.email.touched)" >
        <div *ngIf="f.email.errors.required" >
            Email est obligatoire.
        </div>
        <div *ngIf="f.email.errors.email">
            adresse mail Invalid.
        </div>
    </div>
  </div>

  <div class="form-group">
    <label>Prénom</label>
    <input type="text" formControlName="firstName" class="form-control" placeholder="Entrer votre prenom" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">Le prénom est obligatoire</div>
    </div>
  </div>
  <div class="form-group">
    <label>Nom de naissance</label>
    <input type="text" formControlName="lastName" class="form-control"  placeholder="Entrer votre nom" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Le nom est obligatoire</div>
    </div>
  </div>
  <!--<div class="form-group">
    <label>Username</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>-->
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Le mot de passe doit avoir aumoin 6 caractères</div>
    </div>
  </div>

  <div class="form-group">
    <label>Confirmer votre mot de pase</label>
    <input type="password" formControlName="confirmedPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmedPassword.errors }" />
    <div *ngIf="submitted && f.confirmedPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmedPassword.errors.required">La confirmation est obligatoire</div>
      <div *ngIf="f.confirmedPassword.errors.minlength">Le mot de passe confirmé doit avoir aumoin 6 caractères</div>
    </div>
  </div>

  <div class="form-group">
    <label>Téléphone Portable</label>
    <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
      <div *ngIf="f.phone.errors.required">Le téléphone est obligatoire</div>
    
    </div>
  </div>


  <div class="form-group">
    <label>Addresse</label>
    <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
      <div *ngIf="f.addresse.errors.required">l'addresse est obligatoire</div>
    
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn">Créer mon compte</button>
    <!--<img *ngIf="loading" src="data:image/gif;"/>-->
    <a routerLink="/login" class="btn btn-link">Annuler</a>
  </div>
</form>
