.spacer {
    margin-top: 7em;
}

.btn-valider {
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'proxima-nova';
    font-weight: bold;
    margin-left: 100px;
    background-color: rgb(23, 0, 128);
    color: white;
    cursor: pointer;
}

.btn-cancel {
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'proxima-nova';
    font-weight: bold;
    margin-left: 80px;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.wrapp-buttons{
    display: inline-flex;
    vertical-align: middle;
}

.required {
    color: red;
}

.opt-style {
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
    height: 50px;
    text-indent: 10px;
    
}

@media screen and (max-width:600px) {
    .container {
        float: none;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    h1 {
        display: none
    }

    .container .wrapp-buttons{
        float: none;
        display: flex;
        flex-direction: column;
        text-align: center;
       
        
    }
    .container .wrapp-buttons .btn-valider,.btn-cancel {
        margin: 0;
        margin-left: 10px;
        
    }
    .container .wrapp-buttons .btn-valider,.btn-cancel span{
        float: none;
        margin-left: 20px;

    }
}
