.spacer {
    margin-top: 7em;
}

.btn {
    padding: 10px 60px;
    border-radius: 25px;
    font-size: large;
    margin-left: 80px;
    background-color: rgb(5, 80, 99);
    color: white;
    cursor: pointer;
}


