.spacer {
    margin-top: 7em;
}

.btn {
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'proxima-nova';
    font-weight: bold;
    margin-left: 200px;
    background-color: rgb(5, 80, 99);
    color: white;
    cursor: pointer;
}


