.spacer {
    margin-top: 1.5em;
}


.style {
    background-color:rgb(62, 108, 134);
    font-size: large;
    font-weight: bold;
    color: white;
}

.btn{
    padding: 10px 20px;
    border-radius: 25px;
    font-size: large;
    margin-left: 40px;
    background-color: rgb(62, 184, 214);
    color: white;
    cursor: pointer;
    
}

.btn:hover {
    background-color: rgb(31, 133, 218);
    color: rgb(238, 227, 227);
}