.spacer {
    margin-top: 1.5em;
}


.style {
    background-color:transparent;
    font-size: large;
    font-weight: bold;
    color: green;
    text-align: center;
}

.btn{
    padding: 10px 15px;
    border-radius: 25px;
    font-size: large;
    background-color:red;
    color: white;
    cursor: pointer;
    font-family: 'proxima-nova';
    
}

.btn:hover {
    background-color:rgb(23, 0, 128);
    color: rgb(238, 227, 227);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

@media (max-width: 800px){
    .btn {
        flex: 100%;
    }
}