.spacer {
    margin-top: 1.5em;
}


.style {
    background-color:transparent;
    font-size: large;
    font-weight: bold;
    color: white;
}

.btn{
    padding: 10px 15px;
    border-radius: 25px;
    font-size: large;
    margin-left: 25%;
    background-color:red;
    color: white;
    cursor: pointer;
    font-family: 'proxima-nova';
    
}

.btn:hover {
    background-color: rgb(31, 133, 218);
    color: rgb(238, 227, 227);
}